<!-- LISTING LIST -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="single__blog-detail">
          <h1>Engagement Solennel</h1>

          <p class="drop-cap">
            Nous savons que l’acquisition d’un bien immobilier est une étape importante dans la vie de tout un chacun, c’est pour cette
            raison que Buntu, pour sécuriser votre investissement a mis en place une politique d’assurance à 3 niveaux.
          </p>

          <p>Double assurances aux clients qui souhaitent acheter ou louer à travers notre plateforme :</p>

          <!-- BLOCKQUOTE -->
          <blockquote class="block-quote">
            <p>
              1re assurance : tous les biens listés sur la plateforme sont 100%, sans litiges et vérifiables. Nous avons une équipe
              juridique entièrement dédiée pour cette tâche qui fait systématiquement la « due diligence » et vérifications nécessaires
              avant de listée un bien dans la plateforme, en partenariat avec le domaine national, le cadastre et les services étatiques
              compétents.
            </p>
            <cite> Une sécurité sans équivoque </cite>
          </blockquote>
          <!-- END BLOCKQUOTE -->

          <!-- BLOCKQUOTE -->
          <blockquote class="block-quote">
            <p>2e assurance : toute transaction se fera devant un notaire, Buntu de prendre en charge les frais associés.</p>
            <cite> Une protection assurée </cite>
          </blockquote>
          <!-- END BLOCKQUOTE -->

          <!-- BLOCKQUOTE -->
          <blockquote class="block-quote">
            <p>Commettre un Assureur pour au cas exceptionnel le client sois entièrement dédommager par notre Assureur</p>
            <cite> Une perte non envisagée </cite>
          </blockquote>
          <!-- END BLOCKQUOTE -->

          <!-- TAGS -->
          <div class="blog__tags mb-4">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="javascript:void(0);"> #Sécurité </a>
              </li>

              <li class="list-inline-item">
                <a href="javascript:void(0);"> #Facilité d’accès </a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0);"> #Confiance et fiabilité </a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0);"> #Professionalisme </a>
              </li>
              <li class="list-inline-item">
                <a href="javascript:void(0);"> #rapidité </a>
              </li>
            </ul>
          </div>
          <!-- END TAGS -->
        </div>
      </div>
      <!-- WIDGET BLOG -->
      <div class="col-lg-4">
        <div class="sticky-top">
          <aside>
            <div class="widget__sidebar">
              <div class="widget__sidebar__header">
                <h6 class="text-capitalize">catégories</h6>
              </div>
              <div class="widget__sidebar__body">
                <ul class="list-unstyled">
                  <li>
                    <a href="javascript:void(0);" (click)="allerA('tout', 'tout')" class="text-capitalize">
                      Toute catégories
                      <span class="badge badge-primary">{{ compteur('tout') }}</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" (click)="allerA('tout', 'maison')" class="text-capitalize">
                      Maison
                      <span class="badge badge-primary">{{ compteur('MAISON') }}</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" (click)="allerA('tout', 'terrain')" class="text-capitalize">
                      Terrain
                      <span class="badge badge-primary">{{ compteur('TERRAIN') }}</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" (click)="allerA('tout', 'appartement')" class="text-capitalize">
                      Appartement
                      <span class="badge badge-primary">{{ compteur('APPARTEMENT') }}</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" (click)="allerA('tout', 'chambre')" class="text-capitalize">
                      Chambre
                      <span class="badge badge-primary">{{ compteur('CHAMBRE') }}</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" (click)="allerA('tout', 'bureau')" class="text-capitalize">
                      Bureau
                      <span class="badge badge-primary">{{ compteur('BUREAU') }}</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" (click)="allerA('tout', 'commerce')" class="text-capitalize">
                      Local de commerce
                      <span class="badge badge-primary">{{ compteur('LOCAL_DE_COMMERCE') }}</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" (click)="allerA('tout', 'hangar')" class="text-capitalize">
                      Hangar
                      <span class="badge badge-primary">{{ compteur('HANGAR') }}</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" (click)="allerA('tout', 'verger')" class="text-capitalize">
                      Verger
                      <span class="badge badge-primary">{{ compteur('VERGER') }}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </aside>
          <aside>
            <div class="widget__sidebar">
              <div class="widget__sidebar__header">
                <h6 class="text-capitalize">tags</h6>
              </div>
              <div class="widget__sidebar__body">
                <div class="blog__tags p-0">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="javascript:void(0);"> #Sécurité </a>
                    </li>

                    <li class="list-inline-item">
                      <a href="javascript:void(0);"> #Facilité d’accès </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript:void(0);"> #Confiance et fiabilité </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript:void(0);"> #Professionalisme </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript:void(0);"> #rapidité </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <!-- END WIDGET BLOG -->
  </div>
</section>
<!-- END LISTING LIST -->
