<!-- MAPS -->
<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7" id="carte">
        <div class="sticky-top">
          <!-- LEAFLET MAP -->
          <div id="map" style="position: relatif">
            <div class="leaflet-control coordinate"></div>
          </div>
          <div id="pubcarte"><a href="https://www.tech-xel.com/" target="_blank">&copy; CopyRight Buntu 2022 By Tech Xel</a></div>
        </div>
      </div>
      <div class="col-lg-5" id="resultat">
        <div id="resultList">
          <!-- FILTERING LIST -->
          <div class="search__area bg__shadow">
            <div class="container-fluid">
              <div class="col-12">
                <div class="tabs__custom-v2">
                  <!-- FILTER VERTICAL -->
                  <ul class="nav nav-pills myTab" role="tablist">
                    <li class="list-inline-item mr-auto">
                      <div class="btn-group">
                        <a
                          href="javascript:void(0)"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <span class="title-text" id="triage">Trier par</span>
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="javascript:void(0)">Peu importe</a>
                          <a class="dropdown-item" href="javascript:void(0)">Du moins cher au plus cher</a>
                          <a class="dropdown-item" href="javascript:void(0)">Du plus cher au moins cher </a>
                          <a class="dropdown-item" href="javascript:void(0)">A ventre</a>

                          <a class="dropdown-item" href="javascript:void(0)">A louer</a>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item" title="afficher la carte ou pas">
                      <a class="nav-link" href="javascript:void(0)" id="sansCarte"> <span class="fa fa-expand"></span> Visibilité carte </a>
                    </li>
                    <li class="nav-item" id="filtre" title="filtrage">
                      <a class="nav-link" href="javascript:void(0)"> <span class="fa fa-filter"></span> filtre </a>
                    </li>
                    <li class="nav-item" title="liste">
                      <a
                        class="nav-link"
                        data-toggle="pill"
                        href="#pills-tab-one"
                        role="tab"
                        aria-controls="pills-tab-one"
                        aria-selected="true"
                      >
                        <span class="fa fa-th-list"></span> liste
                      </a>
                    </li>
                    <li class="nav-item" title="grille">
                      <a
                        class="nav-link active"
                        data-toggle="pill"
                        href="#pills-tab-two"
                        role="tab"
                        aria-controls="pills-tab-two"
                        aria-selected="false"
                      >
                        <span class="fa fa-th-large"></span> grille
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="search__area-inner zoneRecherche" id="filtre_">
                <div class="row no-gutters">
                  <div class="auto-search-wrapper col-12">
                    <div class="form-group">
                      <input
                        type="text"
                        autocomplete="off"
                        id="search"
                        class="form-control auto-search-wrapper"
                        placeholder="Commune, Arrondissement ou Region . . . ."
                      />
                    </div>
                  </div>
                </div>
                <div style="display: none">
                  <input type="text" id="lng" /><input type="text" id="lat" />
                  <button id="btnGoTo" (click)="goto()"></button>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-lg-6 col-md-6" id="catBox">
                    <div class="form-group select-bloc">
                      <select class="customSelect" id="categories" (change)="change()">
                        <option value="tout">Toutes Catégories</option>
                        <option value="terrain">Terrain</option>
                        <option value="maison">Maison</option>
                        <option value="appartement">Appartement</option>
                        <option value="bureau">Bureau</option>
                        <option value="chambre">Chambre</option>
                        <option value="commerce">Local Commercial</option>
                        <option value="verger">Verger</option>
                        <option value="hangar">Hangar</option>
                      </select>
                      <div class="arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-6 col-md-6" id="nbpiecesBox">
                    <div class="form-group select-bloc">
                      <select class="customSelect" id="nbpieces" (change)="changeNbPieces()">
                        <option value="tout">Nb de pièces</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10plus">10 ou +</option>
                      </select>
                      <div class="arrow"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 col-md-6 auto-search-wrapper">
                    <div class="form-group">
                      <button id="budget" class="btn btn-outline-primary btn-block text-capitalize advanced-filter">
                        <i class="fa fa-plus-circle"></i> Votre budget
                      </button>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6 col-md-6 auto-search-wrapper">
                    <div class="form-group">
                      <button id="plusDeCriteres" class="btn btn-outline-primary btn-block text-capitalize advanced-filter">
                        <i class="fa fa-plus-circle"></i> Plus de critères
                      </button>
                    </div>
                  </div>
                  <div id="budget_min" class="col-12 col-lg-6 col-md-6">
                    <div>
                      <div class="form-group">
                        <input
                          type="number"
                          autocomplete="off"
                          id="min"
                          class="form-control"
                          placeholder="minimum"
                          style="position: relatif"
                        />
                        <span class="title-text bold" style="position: absolute; top: 10px; right: 20px; color: #32b019">Fcfa</span>
                      </div>
                    </div>
                  </div>
                  <div id="budget_max" class="col-12 col-lg-6 col-md-6">
                    <div>
                      <div class="form-group">
                        <input
                          type="number"
                          autocomplete="off"
                          id="max"
                          class="form-control"
                          placeholder="maximum"
                          style="position: relatif"
                        />
                        <span class="title-text bold" style="position: absolute; top: 10px; right: 20px; color: #32b019">Fcfa</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-lg-4 col-md-4 PlusDeCriteres_">
                    <div class="form-group">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" />
                        <span class="custom-control-label">Accès Eau </span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-lg-4 col-md-4 PlusDeCriteres_">
                    <div class="form-group">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" />
                        <span class="custom-control-label">Accès Electricité </span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-lg-4 col-md-4 PlusDeCriteres_">
                    <div class="form-group">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" />
                        <span class="custom-control-label">Accès ADSL </span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-lg-4 col-md-4 PlusDeCriteres_" id="meuble">
                    <div class="form-group">
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" />
                        <span class="custom-control-label">Meublé </span>
                      </label>
                    </div>
                  </div>
                  <div class="col-12 col-lg-8 col-md-8 PlusDeCriteres_">
                    <div class="form-group">
                      <label class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" checked="" type="radio" name="gender" value="tout" />
                        <span class="custom-control-label"> Tout Type </span>
                      </label>
                      <label class="custom-control custom-radio custom-control-inline" style="padding-left: 40px">
                        <input class="custom-control-input" type="radio" name="gender" value="location" />
                        <span class="custom-control-label"> Moratoire </span>
                      </label>
                      <label class="custom-control custom-radio custom-control-inline" style="padding-left: 40px">
                        <input class="custom-control-input" type="radio" name="gender" value="vente" />
                        <span class="custom-control-label"> Comptant </span>
                      </label>
                    </div>
                    <!-- form-group end.// -->
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <button class="btn btn-primary text-uppercase btn-block" id="rechercher">
                        Rechercher <i class="fa fa-search ml-1"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END FILTERING LIST -->
          <button class="btn btn-primary" id="loadMarkers" (click)="addMarkers()">tester</button>
          <!-- LISTING LIST -->
          <section class="zoneRecherche">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="tabs__custom-v2">
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade" id="pills-tab-one" role="tabpanel" aria-labelledby="pills-tab-one">
                            <div class="row" *ngFor="let propriete of proprietes; trackBy: trackId">
                              <div class="col-lg-12">
                                <div class="card__image card__box-v1 {{ propriete.reference }}" (click)="displayDetail(propriete)">
                                  <div class="row no-gutters">
                                    <div class="col-md-4 col-lg-3 col-xl-4">
                                      <div class="card__image__header h-250">
                                        <a href="javascript:void(0)">
                                          <div class="ribbon text-capitalize">{{ propriete.papier | changerpipe }}</div>
                                          <img
                                            src="https://tech-xel.com/model/{{ propriete.urlPhotoPrincipale }}"
                                            alt=""
                                            class="img-fluid w100 img-transition"
                                          />
                                          <div class="info">{{ propriete.modeDeTransaction | changerpipe }}</div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                                      <div class="card__image__body">
                                        <span class="badge badge-primary text-capitalize mb-2">{{ propriete.type | changerpipe }}</span>
                                        <h6>
                                          <a href="javascript:void(0)">{{ propriete.reference }}</a>
                                        </h6>
                                        <div class="card__image__body-desc">
                                          <p class="text-capitalize">
                                            <i class="fa fa-map-marker"></i>
                                            {{ propriete.adresse }}
                                          </p>
                                        </div>

                                        <ul class="list-inline card__content">
                                          <li class="list-inline-item" *ngIf="propriete.nombreDeDouches && propriete.nombreDeDouches > 0">
                                            <span> <i class="fa fa-bath"></i> {{ propriete.nombreDeDouches }} </span>
                                          </li>
                                          <li class="list-inline-item" *ngIf="propriete.nombreDePieces && propriete.nombreDePieces > 0">
                                            <span> <i class="fa fa-bed"></i> {{ propriete.nombreDePieces }} </span>
                                          </li>
                                          <li class="list-inline-item" *ngIf="propriete.nombreDeGarages && propriete.nombreDeGarages > 0">
                                            <span> <i class="fa fa-inbox"></i> {{ propriete.nombreDeGarages }} </span>
                                          </li>
                                          <li class="list-inline-item" *ngIf="propriete.superficie && propriete.superficie > 0">
                                            <span> <i class="fa fa-map"></i> {{ propriete.superficie }} m<sup>2</sup> </span>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                                      <div class="card__image__footer">
                                        <ul class="list-inline my-auto ml-auto price">
                                          <li class="list-inline-item">
                                            <h6>
                                              {{ propriete.prix }} <sup>Fcfa</sup>
                                              <span *ngIf="propriete.periode"> / {{ propriete.periode }}</span>
                                            </h6>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="clearfix"></div>
                          </div>
                          <div class="tab-pane fade show active" id="pills-tab-two" role="tabpanel" aria-labelledby="pills-tab-two">
                            <div class="row">
                              <div
                                *ngFor="let propriete of proprietes; trackBy: trackId"
                                class="col-md-6 grilleVersion2 {{ propriete.reference }}"
                                (click)="displayDetail(propriete)"
                              >
                                <div class="card__image card__box">
                                  <div class="card__image-header h-250 box-skeleton_">
                                    <div class="ribbon text-capitalize" *ngIf="propriete.papier">{{ propriete.papier | changerpipe }}</div>
                                    <img
                                      src="https://tech-xel.com/model/{{ propriete.urlPhotoPrincipale }}"
                                      alt=""
                                      class="img-fluid w100 img-transition"
                                    />
                                    <div class="info">{{ propriete.modeDeTransaction | changerpipe }}</div>
                                    <div class="img-skeleton_ skeleton_-content"></div>
                                  </div>
                                  <div class="card__image-body box-skeleton_">
                                    <span class="badge badge-primary text-capitalize mb-2">{{ propriete.type | changerpipe }}</span>
                                    <h6 class="text-capitalize">{{ propriete.reference }}</h6>

                                    <p class="text-capitalize">
                                      <i class="fa fa-map-marker"></i>
                                      {{ propriete.adresse }}
                                    </p>
                                    <ul class="list-inline card__content">
                                      <li class="list-inline-item" *ngIf="propriete.nombreDeDouches && propriete.nombreDeDouches > 0">
                                        <span>
                                          WC <br />
                                          <i class="fa fa-bath"></i> {{ propriete.nombreDeDouches }}
                                        </span>
                                      </li>
                                      <li class="list-inline-item" *ngIf="propriete.nombreDePieces && propriete.nombreDePieces > 0">
                                        <span>
                                          pièce <br />
                                          <i class="fa fa-bed"></i> {{ propriete.nombreDePieces }}
                                        </span>
                                      </li>
                                      <li class="list-inline-item" *ngIf="propriete.nombreDeGarages && propriete.nombreDeGarages > 0">
                                        <span>
                                          garage <br />
                                          <i class="fa fa-inbox"></i> {{ propriete.nombreDeGarages }}
                                        </span>
                                      </li>
                                      <li class="list-inline-item">
                                        <span>
                                          superficie <br />
                                          <i class="fa fa-map"></i> {{ propriete.superficie }} m<sup>2</sup>
                                        </span>
                                      </li>
                                    </ul>
                                    <div class="type-skeleton_ skeleton_-content"></div>
                                    <div class="title-skeleton_ skeleton_-content"></div>
                                    <div class="adress-skeleton_ skeleton_-content"></div>
                                    <div class="nbr-skeleton_ skeleton_-content"></div>
                                    <div class="prix-skeleton_ skeleton_-content"></div>
                                  </div>
                                  <div class="card__image-footer">
                                    <ul class="list-inline my-auto ml-auto">
                                      <li class="list-inline-item">
                                        <h6>
                                          {{ propriete.prix }} <sup>Fcfa</sup>
                                          <span *ngIf="propriete.periode"> / {{ propriete.periode }}</span>
                                        </h6>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="cleafix"></div>
                          </div>
                        </div>
                        <!-- END FILTER VERTICAL -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- END LISTING LIST -->
        </div>
        <div id="detail" style="display: none">
          <!-- DETAIL -->
          <div class="container">
            <div class="col-12">
              <div class="tabs__custom-v2">
                <!-- FILTER VERTICAL -->
                <div class="bluebox">
                  <ul class="nav nav-pills myTab" role="tablist">
                    <li class="mr-auto nav-item">
                      <a class="nav-link" href="javascript:void(0)" (click)="retourner()">
                        <span class="fa fa-arrow-left"></span> Retour
                      </a>
                    </li>
                    <li class="nav-item" title="afficher la carte ou pas">
                      <a class="nav-link fullDetail" href="javascript:void(0)"> <span class="fa fa-expand"></span> Visibilité carte </a>
                    </li>
                  </ul>
                </div>
                <ul class="nav nav-pills myTab" role="tablist">
                  <li class="mr-auto nav-item">
                    <a class="nav-link" href="javascript:void(0)" (click)="retourner()"> <span class="fa fa-arrow-left"></span> Retour </a>
                  </li>
                  <li class="nav-item" title="afficher la carte ou pas">
                    <a class="nav-link fullDetail" href="javascript:void(0)"> <span class="fa fa-expand"></span> Visibilité carte </a>
                  </li>
                </ul>
              </div>
            </div>
            <br />

            <div class="col-12">
              <!-- SLIDER IMAGE DETAIL -->
              <div class="slider__image__detail-large owl-carousel owl-theme">
                <div class="item">
                  <div class="slider__image__detail-large-one">
                    <img
                      src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhotoPrincipale }}"
                      alt=""
                      class="img-fluid w-100 img-transition"
                    />
                    <div class="description">
                      <span class="badge badge-primary text-capitalize mb-2">{{ proprieteDetail?.type | changerpipe }}</span>
                      <div class="price">
                        <h5 class="text-capitalize">
                          {{ proprieteDetail?.prix }} <sup>Fcfa</sup
                          ><span *ngIf="proprieteDetail?.periode"> / {{ proprieteDetail?.periode }}</span>
                        </h5>
                      </div>
                      <h4 class="text-capitalize">{{ proprieteDetail?.reference }}</h4>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="slider__image__detail-large-one">
                    <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhoto1 }}" alt="" class="img-fluid w-100 img-transition" />
                    <div class="description">
                      <span class="badge badge-primary text-capitalize mb-2">{{ proprieteDetail?.type | changerpipe }}</span>
                      <div class="price">
                        <h5 class="text-capitalize">
                          {{ proprieteDetail?.prix }} <sup>Fcfa</sup
                          ><span *ngIf="proprieteDetail?.periode"> / {{ proprieteDetail?.periode }}</span>
                        </h5>
                      </div>
                      <h4 class="text-capitalize">{{ proprieteDetail?.reference }}</h4>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="slider__image__detail-large-one">
                    <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhoto2 }}" alt="" class="img-fluid w-100 img-transition" />
                    <div class="description">
                      <span class="badge badge-primary text-capitalize mb-2">{{ proprieteDetail?.type | changerpipe }}</span>
                      <div class="price">
                        <h5 class="text-capitalize">
                          {{ proprieteDetail?.prix }} <sup>Fcfa</sup
                          ><span *ngIf="proprieteDetail?.periode"> / {{ proprieteDetail?.periode }}</span>
                        </h5>
                      </div>
                      <h4 class="text-capitalize">{{ proprieteDetail?.reference }}</h4>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="slider__image__detail-large-one">
                    <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhoto3 }}" alt="" class="img-fluid w-100 img-transition" />
                    <div class="description">
                      <span class="badge badge-primary text-capitalize mb-2">{{ proprieteDetail?.type | changerpipe }}</span>
                      <div class="price">
                        <h5 class="text-capitalize">
                          {{ proprieteDetail?.prix }} <sup>Fcfa</sup
                          ><span *ngIf="proprieteDetail?.periode"> / {{ proprieteDetail?.periode }}</span>
                        </h5>
                      </div>
                      <h4 class="text-capitalize">{{ proprieteDetail?.reference }}</h4>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="slider__image__detail-large-one">
                    <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhoto4 }}" alt="" class="img-fluid w-100 img-transition" />
                    <div class="description">
                      <span class="badge badge-primary text-capitalize mb-2">Maison</span>
                      <div class="price">
                        <h5 class="text-capitalize">
                          {{ proprieteDetail?.prix }} <sup>Fcfa</sup
                          ><span *ngIf="proprieteDetail?.periode"> / {{ proprieteDetail?.periode }}</span>
                        </h5>
                      </div>
                      <h4 class="text-capitalize">Maison familiale</h4>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="slider__image__detail-large-one">
                    <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhoto5 }}" alt="" class="img-fluid w-100 img-transition" />
                    <div class="description">
                      <span class="badge badge-primary text-capitalize mb-2">{{ proprieteDetail?.type | changerpipe }}</span>
                      <div class="price">
                        <h5 class="text-capitalize">
                          {{ proprieteDetail?.prix }} <sup>Fcfa</sup
                          ><span *ngIf="proprieteDetail?.periode"> / {{ proprieteDetail?.periode }}</span>
                        </h5>
                      </div>
                      <h4 class="text-capitalize">{{ proprieteDetail?.reference }}</h4>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="slider__image__detail-large-one">
                    <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhoto6 }}" alt="" class="img-fluid w-100 img-transition" />
                    <div class="description">
                      <span class="badge badge-primary text-capitalize mb-2">{{ proprieteDetail?.type | changerpipe }}</span>
                      <div class="price">
                        <h5 class="text-capitalize">
                          {{ proprieteDetail?.prix }} <sup>Fcfa</sup
                          ><span *ngIf="proprieteDetail?.periode"> / {{ proprieteDetail?.periode }}</span>
                        </h5>
                      </div>
                      <h4 class="text-capitalize">{{ proprieteDetail?.reference }}</h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="slider__image__detail-thumb owl-carousel owl-theme">
                <div class="item">
                  <div class="slider__image__detail-thumb-one">
                    <img
                      src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhotoPrincipale }}"
                      alt=""
                      class="img-fluid w-100 img-transition"
                    />
                  </div>
                </div>
                <div class="item">
                  <div class="slider__image__detail-thumb-one">
                    <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhoto1 }}" alt="" class="img-fluid w-100 img-transition" />
                  </div>
                </div>
                <div class="item">
                  <div class="slider__image__detail-thumb-one">
                    <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhoto2 }}" alt="" class="img-fluid w-100 img-transition" />
                  </div>
                </div>
                <div class="item">
                  <div class="slider__image__detail-thumb-one">
                    <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhoto3 }}" alt="" class="img-fluid w-100 img-transition" />
                  </div>
                </div>
                <div class="item">
                  <div class="slider__image__detail-thumb-one">
                    <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhoto4 }}" alt="" class="img-fluid w-100 img-transition" />
                  </div>
                </div>
                <div class="item">
                  <div class="slider__image__detail-thumb-one">
                    <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhoto5 }}" alt="" class="img-fluid w-100 img-transition" />
                  </div>
                </div>
                <div class="item">
                  <div class="slider__image__detail-thumb-one">
                    <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhoto6 }}" alt="" class="img-fluid w-100 img-transition" />
                  </div>
                </div>
              </div>
              <!-- END SLIDER IMAGE DETAIL -->
              <div class="row">
                <div class="col-md-9 col-lg-9">
                  <div class="single__detail-title mt-4">
                    <h3 class="text-capitalize">{{ proprieteDetail?.reference }}</h3>
                    <p>{{ proprieteDetail?.adresse }}</p>
                  </div>
                </div>
                <div class="col-md-3 col-lg-3">
                  <div class="single__detail-price mt-4">
                    <h3 class="text-capitalize text-gray">
                      {{ proprieteDetail?.prix }} <sup>Fcfa</sup
                      ><span *ngIf="proprieteDetail?.periode"> / {{ proprieteDetail?.periode }}</span>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- DESCRIPTION -->
              <div class="row">
                <div class="col-lg-12">
                  <div class="single__detail-desc">
                    <h6 class="text-capitalize detail-heading">description</h6>
                    <div class="show__more" id="lire_plus">
                      <p>
                        {{ proprieteDetail?.description }}
                      </p>

                      <a href="javascript:void(0)" class="show__more-button" (click)="lirePlus()">Lire plus</a>
                    </div>
                  </div>
                  <div class="clearfix"></div>

                  <!-- PROPERTY DETAILS SPEC -->
                  <div class="single__detail-features">
                    <h6 class="text-capitalize detail-heading">Details de la propriete</h6>
                    <!-- INFO PROPERTY DETAIL -->
                    <div class="property__detail-info">
                      <div class="row">
                        <div class="col-md-6 col-lg-6">
                          <ul class="property__detail-info-list list-unstyled">
                            <li><b>Ref de la Propriete :</b> {{ proprieteDetail?.reference }}</li>
                            <li>
                              <b>Prix :</b> {{ proprieteDetail?.prix }} <sup>Fcfa</sup
                              ><span *ngIf="proprieteDetail?.periode"> / {{ proprieteDetail?.periode }}</span>
                            </li>
                            <li><b>Superfice :</b> {{ proprieteDetail?.superficie }} m<sup>2</sup></li>
                            <li *ngIf="proprieteDetail?.nombreDePieces && proprieteDetail?.nombreDePieces! > 0">
                              <b>Nombre de pièces :</b> {{ proprieteDetail?.nombreDePieces }}
                            </li>
                            <li *ngIf="proprieteDetail?.nombreDeDouches && proprieteDetail?.nombreDeDouches! > 0">
                              <b>Nombre de WC:</b> {{ proprieteDetail?.nombreDeDouches }}
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6 col-lg-6">
                          <ul class="property__detail-info-list list-unstyled">
                            <li *ngIf="proprieteDetail?.nombreDeGarages && proprieteDetail?.nombreDeGarages! > 0">
                              <b>Nombre de garages :</b> {{ proprieteDetail?.nombreDeGarages }}
                            </li>
                            <li *ngIf="proprieteDetail?.anneeDeConstruction">
                              <b>Date de construction :</b> {{ proprieteDetail?.anneeDeConstruction }}
                            </li>
                            <li><b>Type de proprièté :</b> {{ proprieteDetail?.type | changerpipe }}</li>
                            <li *ngIf="proprieteDetail?.papier"><b>Type de papier :</b> {{ proprieteDetail?.papier | changerpipe }}</li>
                            <li><b>Transaction :</b> {{ proprieteDetail?.modeDeTransaction | changerpipe }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- END INFO PROPERTY DETAIL -->
                  </div>
                  <!-- END PROPERTY DETAILS SPEC -->
                  <div class="clearfix"></div>

                  <!-- FEATURES -->
                  <div class="single__detail-features">
                    <h6 class="text-capitalize detail-heading">Plus de détails</h6>
                    <ul class="list-unstyled icon-checkbox">
                      <li *ngIf="proprieteDetail?.accesEau">Accès à l'eau</li>
                      <li *ngIf="proprieteDetail?.acceEelectricite">Accès à l'électricité</li>
                      <li *ngIf="proprieteDetail?.accesADSL">Accès ADSL</li>
                      <li *ngIf="proprieteDetail?.meuble">Propièté Meublée</li>
                      <li *ngIf="proprieteDetail?.modeDePaiement === 'MORATOIRE'">Paiement Moratoire</li>
                    </ul>
                  </div>
                  <!-- END FEATURES -->

                  <div class="single__detail-features">
                    <h6 class="text-capitalize detail-heading">Propriète video</h6>
                    <div class="single__detail-features-video">
                      <figure class="mb-0">
                        <div class="home__video-area text-center">
                          <img src="https://tech-xel.com/model/{{ proprieteDetail?.urlPhotoPrincipale }}" alt="" class="img-fluid" />
                          <a href="{{ proprieteDetail?.urlVideo }}" class="play-video-1">
                            <i class="icon fa fa-play text-white"></i>
                          </a>
                        </div>
                      </figure>
                    </div>
                  </div>

                  <!-- LOCATION -->
                  <div class="single__detail-features">
                    <h6 class="text-capitalize detail-heading">location</h6>
                    <!-- FILTER VERTICAL -->
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          id="pills-map-location-tab"
                          data-toggle="pill"
                          href="#pills-map-location"
                          role="tab"
                          aria-controls="pills-map-location"
                          aria-selected="true"
                        >
                          <i class="fa fa-map-marker"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          target="_blank"
                          href="https://www.google.com/maps/search/?api=1&query={{ proprieteDetail?.latitude }},{{
                            proprieteDetail?.longitude
                          }}"
                        >
                          <i class="fa fa-street-view"></i> <b>Suivre sur Google Maps</b>
                        </a>
                      </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div
                        class="tab-pane fade show active"
                        id="pills-map-location"
                        role="tabpanel"
                        aria-labelledby="pills-map-location-tab"
                      >
                        <div id="map2" style="height: 400px; z-index: 1 !important"></div>
                      </div>
                    </div>
                    <!-- END FILTER VERTICAL -->
                  </div>
                  <!-- END LOCATION -->

                  <!-- NEARBY -->
                  <div
                    *ngIf="
                      (proprieteDetail?.distancehopital && proprieteDetail?.distanceclinique) ||
                      proprieteDetail?.distancePrimaire ||
                      proprieteDetail?.distanceSecondaire ||
                      proprieteDetail?.distanceLycee
                    "
                    class="single__detail-features"
                  >
                    <h6 class="text-capitalize detail-heading">qu'y a-t-il à proximité ?</h6>
                    <div class="single__detail-features-nearby">
                      <h6
                        *ngIf="proprieteDetail?.distancePrimaire || proprieteDetail?.distanceSecondaire || proprieteDetail?.distanceLycee"
                        class="text-capitalize"
                      >
                        <span> <i class="fa fa-building"></i></span>éducation
                      </h6>
                      <ul
                        *ngIf="proprieteDetail?.distancePrimaire || proprieteDetail?.distanceSecondaire || proprieteDetail?.distanceLycee"
                        class="list-unstyled"
                      >
                        <li *ngIf="proprieteDetail?.distancePrimaire && proprieteDetail?.distancePrimaire! > 0">
                          <span>distance école primaire</span>
                          <p>{{ proprieteDetail?.distancePrimaire }} km</p>
                        </li>
                        <li *ngIf="proprieteDetail?.distanceSecondaire && proprieteDetail?.distanceSecondaire! > 0">
                          <span>Distance secondaire</span>
                          <p>{{ proprieteDetail?.distanceSecondaire }} km</p>
                        </li>
                        <li *ngIf="proprieteDetail?.distanceLycee && proprieteDetail?.distanceLycee! > 0">
                          <span>Distance lycée</span>
                          <p>{{ proprieteDetail?.distanceLycee }} km</p>
                        </li>
                      </ul>

                      <h6 *ngIf="proprieteDetail?.distancehopital && proprieteDetail?.distanceclinique" class="text-capitalize">
                        <span><i class="fa fa-ambulance"></i></span>Santé & médical
                      </h6>
                      <ul *ngIf="proprieteDetail?.distancehopital && proprieteDetail?.distanceclinique" class="list-unstyled">
                        <li *ngIf="proprieteDetail?.distancehopital && proprieteDetail?.distancehopital! > 0">
                          <span>Hôpital</span>
                          <p>{{ proprieteDetail?.distancehopital }} km</p>
                        </li>
                        <li *ngIf="proprieteDetail?.distanceclinique && proprieteDetail?.distanceclinique! > 0">
                          <span>clinique</span>
                          <p>{{ proprieteDetail?.distanceclinique }} km</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- END NEARBY -->

                  <div class="profile__agent mb-30">
                    <div class="profile__agent__group">
                      <div class="profile__agent__header">
                        <div class="profile__agent__header-avatar">
                          <figure>
                            <img src="../../../../content/assets/images/favicon.ico" alt="" class="img-fluid" />
                          </figure>

                          <ul class="list-unstyled mb-0">
                            <li>
                              <h5 class="text-capitalize">BUNTU Real estate</h5>
                            </li>
                            <li>
                              <a href="tel:(221) 33 456 78 90">
                                <i class="fa fa-phone-square mr-1"></i>
                                (221) 33 456 78 90
                              </a>
                            </li>
                            <li>
                              <a href="javascript:void(0)"><i class="fa fa-building mr-1"></i> Adresse de BUNTU Real estate</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="profile__agent__body">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Votre nom" />
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Votre téléphone" />
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Votre Email" />
                        </div>
                        <div class="form-group mb-0">
                          <textarea class="form-control required" rows="5" required="required" placeholder="Votre message"></textarea>
                        </div>
                      </div>
                      <div class="profile__agent__footer">
                        <div class="form-group mb-0">
                          <button class="btn btn-primary text-capitalize btn-block">
                            Envoyer le message <i class="fa fa-paper-plane ml-1"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END DESCRIPTION -->
            </div>
          </div>
          <!-- END DETAIL -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MAPS -->
<!-- Footer  -->
<footer>
  <!-- Footer Bottom -->
  <div class="bg__footer-bottom-v1">
    <div class="container">
      <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6">
          <span>
            © 2022 BUNTU real estate by
            <a href="https://www.tech-xel.com/" target="_blank">tech xel</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer  -->
