<!-- DETAIL -->
<!-- BREADCRUMB -->
<div
  style="
    background-image: url(../../../../content/assets/images/1.jpg);
    background-size: cover;
    width: 100%;
    background-position: center 50%;
    position: relative;
  "
>
  <!-- BREADCRUMB -->
  <section class="section__breadcrumb">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="text-capitalize text-white">Maison Familliale</h2>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" class="text-white"> home </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white"> property </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white"> single property </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- END BREADCRUMB -->
</div>
<div class="clearfix"></div>

<!-- END BREADCRUMB -->
<div class="col-12">
  <!-- TITLE PROPERTY AND PRICE  -->

  <div class="container">
    <br />
    <div class="single__detail-area pt-0 pb-4">
      <div class="row">
        <div class="col-md-8 col-lg-8">
          <div class="single__detail-area-title">
            <h3 class="text-capitalize">Maison familliale</h3>
            <p>Commune de Sébikhotane, Arrondissement de Diamniadio, Région de Dakar, Sénégal</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="single__detail-area-price">
            <h3 class="text-capitalize text-gray">1200000 <sup>Fcfa</sup></h3>
          </div>
        </div>
      </div>
    </div>
    <!-- END TITLE PROPERTY AND PRICE  -->

    <!-- SLIDER IMAGE DETAIL -->
    <div class="slider__image__detail-large-two owl-carousel owl-theme">
      <div class="item">
        <div class="slider__image__detail-large-one">
          <img src="../../../../content/assets/images/1.jpg" alt="" class="img-fluid w-100 img-transition" />
          <div class="description">
            <span class="badge badge-primary text-capitalize mb-2">Maison</span>
            <div class="price">
              <h5 class="text-capitalize">1200000 <sup>Fcfa</sup></h5>
            </div>
            <h4 class="text-capitalize">Commune de Sébikhotane, Arrondissement de Diamniadio, Région de Dakar, Sénégal</h4>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider__image__detail-large-one">
          <img src="../../../../content/assets/images/2.jpg" alt="" class="img-fluid w-100 img-transition" />
          <div class="description">
            <span class="badge badge-primary text-capitalize mb-2">Maison</span>
            <div class="price">
              <h5 class="text-capitalize">1200000 <sup>Fcfa</sup></h5>
            </div>
            <h4 class="text-capitalize">Commune de Sébikhotane, Arrondissement de Diamniadio, Région de Dakar, Sénégal</h4>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider__image__detail-large-one">
          <img src="../../../../content/assets/images/3.jpg" alt="" class="img-fluid w-100 img-transition" />
          <div class="description">
            <span class="badge badge-primary text-capitalize mb-2">Maison</span>
            <div class="price">
              <h5 class="text-capitalize">1200000 <sup>Fcfa</sup></h5>
            </div>
            <h4 class="text-capitalize">Commune de Sébikhotane, Arrondissement de Diamniadio, Région de Dakar, Sénégal</h4>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider__image__detail-large-one">
          <img src="../../../../content/assets/images/4.jpg" alt="" class="img-fluid w-100 img-transition" />
          <div class="description">
            <span class="badge badge-primary text-capitalize mb-2">Maison</span>
            <div class="price">
              <h5 class="text-capitalize">1200000 <sup>Fcfa</sup></h5>
            </div>
            <h4 class="text-capitalize">Commune de Sébikhotane, Arrondissement de Diamniadio, Région de Dakar, Sénégal</h4>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider__image__detail-large-one">
          <img src="../../../../content/assets/images/5.jpg" alt="" class="img-fluid w-100 img-transition" />
          <div class="description">
            <span class="badge badge-primary text-capitalize mb-2">Maison</span>
            <div class="price">
              <h5 class="text-capitalize">1200000 <sup>Fcfa</sup></h5>
            </div>
            <h4 class="text-capitalize">Commune de Sébikhotane, Arrondissement de Diamniadio, Région de Dakar, Sénégal</h4>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="slider__image__detail-large-one">
          <img src="../../../../content/assets/images/6.jpg" alt="" class="img-fluid w-100 img-transition" />
          <div class="description">
            <span class="badge badge-primary text-capitalize mb-2">Maison</span>
            <div class="price">
              <h5 class="text-capitalize">1200000 <sup>Fcfa</sup></h5>
            </div>
            <h4 class="text-capitalize">Commune de Sébikhotane, Arrondissement de Diamniadio, Région de Dakar, Sénégal</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="slider__image__detail-thumb-two owl-carousel owl-theme">
      <div class="item">
        <div class="slider__image__detail-thumb-one">
          <img src="../../../../content/assets/images/1.jpg" alt="" class="img-fluid w-100 img-transition" />
        </div>
      </div>
      <div class="item">
        <div class="slider__image__detail-thumb-one">
          <img src="../../../../content/assets/images/2.jpg" alt="" class="img-fluid w-100 img-transition" />
        </div>
      </div>
      <div class="item">
        <div class="slider__image__detail-thumb-one">
          <img src="../../../../content/assets/images/3.jpg" alt="" class="img-fluid w-100 img-transition" />
        </div>
      </div>
      <div class="item">
        <div class="slider__image__detail-thumb-one">
          <img src="../../../../content/assets/images/4.jpg" alt="" class="img-fluid w-100 img-transition" />
        </div>
      </div>
      <div class="item">
        <div class="slider__image__detail-thumb-one">
          <img src="../../../../content/assets/images/5.jpg" alt="" class="img-fluid w-100 img-transition" />
        </div>
      </div>
      <div class="item">
        <div class="slider__image__detail-thumb-one">
          <img src="../../../../content/assets/images/6.jpg" alt="" class="img-fluid w-100 img-transition" />
        </div>
      </div>
    </div>
    <!-- END SLIDER IMAGE DETAIL -->
  </div>
</div>
<!-- END DETAIL -->
