<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark" *ngIf="false">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span jhiTranslate="global.title" class="navbar-title">Buntu</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span jhiTranslate="global.menu.home">Home</span>
            </span>
          </a>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span jhiTranslate="global.menu.entities.main">Entities</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="recherche"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.recherche">Recherche</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="contact"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="contact()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.contact">Contact</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="apropos"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.apropos">Apropos</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="propriete"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.propriete">Propriete</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="detail-propriete"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.detailPropriete">Detail Propriete</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="engagement"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.engagement">Engagement</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="acheter"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.acheter">Acheter</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="louer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.louer">Louer</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="estimer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.entities.estimer">Estimer</span>
              </a>
            </li>
            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
          </ul>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span jhiTranslate="global.menu.admin.main">Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.userManagement">User management</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.health">Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.logs">Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.admin.apidocs">API</span>
              </a>
            </li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
          </ul>
        </li>
        <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
            <span>
              <fa-icon icon="flag"></fa-icon>
              <span jhiTranslate="global.menu.language">Language</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
            <li *ngFor="let language of languages">
              <a
                class="dropdown-item"
                [jhiActiveMenu]="language"
                href="javascript:void(0);"
                (click)="changeLanguage(language); collapseNavbar()"
                >{{ language | findLanguageFromKey }}</a
              >
            </li>
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span jhiTranslate="global.menu.account.main">Account</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.settings">Settings</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/password"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="passwordItem"
              >
                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.password">Password</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.logout">Sign out</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.login">Sign in</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a
                class="dropdown-item"
                routerLink="account/register"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="register"
              >
                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.register">Register</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- NAVBAR TOP -->
<div class="topbar d-none d-sm-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-10">
        <div class="row align-items-center">
          <div class="col-lg-9" style="text-align: center">
            <h2 class="text-uppercase text-white">Engagement Solennel</h2>
            <p class="text-capitalize text-white">
              Double assurances aux clients qui souhaitent acheter ou louer à travers notre plateforme
            </p>
          </div>
          <div class="col-lg-3">
            <a (click)="engagement()" class="btn btn-light text-uppercase"
              >en savoir plus <i class="fa fa-angle-right ml-3 arrow-btn"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="list-unstyled topbar-right">
          <ul class="topbar-sosmed">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END NAVBAR TOP -->

<div [ngSwitch]="isHome()">
  <div *ngSwitchCase="true">
    <!-- at home page -->
    <!-- HEADER -->
    <header class="jumbotron bg-theme">
      <div class="bg-overlay"></div>
      <!-- NAVBAR -->
      <nav class="navbar navbar-hover navbar-expand-lg navbar-soft navbar-transparent">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="../../../content/assets/images/logo-blue.png" alt="" />
            <img src="../../../content/assets/images/logo-blue-stiky.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav99">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="main_nav99">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown"> Acheter </a>
                <ul class="dropdown-menu dropdown-menu-left animate fade-up">
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'terrain')"> Terrain </a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'maison')"> Maison </a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'appartement')"> Appartement </a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'bureau')"> Bureau </a></li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'commerce')"> Local de commerce </a>
                  </li>
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'verger')"> Verger </a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'hangar')"> Hangar </a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Louer </a>
                <ul class="dropdown-menu animate fade-up">
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'terrain')"> Terrain </a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'maison')"> Maison </a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'chambre')"> Chambre </a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'appartement')"> Appartement </a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'bureau')"> Bureau </a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'commerce')"> Local de commerce </a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'verger')"> Verger </a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'hangar')"> Hangar </a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="javascript:void(0);" (click)="recherche()"> Rechercher </a></li>
              <li class="nav-item"><a class="nav-link" href="javascript:void(0);" (click)="estimer()"> Estimer votre projet </a></li>
              <li class="nav-item"><a class="nav-link" href="javascript:void(0);" (click)="apropos()"> A propos </a></li>
            </ul>

            <!-- Search bar.// -->
            <ul class="navbar-nav">
              <li>
                <a (click)="contact()" style="color: #fff" class="btn btn-primary text-capitalize">
                  <i class="fa fa-envelope mr-1"></i> Contact</a
                >
              </li>
            </ul>
            <!-- Search content bar.// -->
            <div class="top-search navigation-shadow">
              <div class="container">
                <div class="input-group">
                  <form action="#">
                    <div class="row no-gutters mt-3">
                      <div class="col">
                        <input
                          class="form-control border-secondary border-right-0 rounded-0"
                          type="search"
                          value=""
                          placeholder="Search "
                          id="example-search-input4"
                        />
                      </div>
                      <div class="col-auto">
                        <a class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" href="/search-result.html">
                          <i class="fa fa-search"></i>
                        </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Search content bar.// -->
          </div>
          <!-- navbar-collapse.// -->
        </div>
      </nav>
      <!-- END NAVBAR -->
      <!-- HERO -->
      <div class="wrap__intro d-flex align-items-md-center">
        <div class="container">
          <div class="row align-items-center justify-content-start flex-wrap">
            <div class="col-md-10 mx-auto">
              <div class="wrap__intro-heading text-center" data-aos="fade-up">
                <!-- <h4>the walls property</h4> -->
                <h1>ENTREZ Y EN TOUTE QUIETUDE</h1>
                <p>C'est une histoire de confiance</p>

                <!-- SEARCH BAR -->
                <form [formGroup]="rechercheAcceuil">
                  <div class="wrapper__section" id="rechercheLocal">
                    <div class="wrapper__section__components">
                      <div class="row">
                        <div class="col-lg-12">
                          <!-- <h3 class="section_heading mt-4">Form Search with Categories</h3> -->
                          <div class="search__container">
                            <div class="row input-group no-gutters">
                              <div class="col-sm-12 col-md-5">
                                <input
                                  formControlName="adresse"
                                  autocomplete="off"
                                  role="presentation"
                                  type="text"
                                  id="search"
                                  class="auto-search-wrapper form-control"
                                  aria-label="Text input"
                                  placeholder="Commune, Arrondissement ou Region . . . ."
                                />
                                <input type="text" id="result" style="display: none" />
                              </div>
                              <div class="col-sm-12 col-md-4 input-group">
                                <select class="select_option form-control" name="select" id="categories">
                                  <option value="tout">Toutes Catégories</option>
                                  <option value="terrain">Terrain</option>
                                  <option value="maison">Maison</option>
                                  <option value="appartement">Appartement</option>
                                  <option value="bureau">Bureau</option>
                                  <option value="chambre">Chambre</option>
                                  <option value="commerce">Local Commercial</option>
                                  <option value="verger">Verger</option>
                                  <option value="hangar">Hangar</option>
                                </select>
                              </div>
                              <div class="col-sm-12 col-md-3 input-group-append">
                                <button id="rechercher" class="btn btn-primary btn-block" type="submit" (click)="rechercher()">
                                  <i class="fa fa-search"></i> <span class="ml-1 text-uppercase">Rechercher</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END HERO -->
    </header>
    <!-- END HEADER -->
  </div>
  <div *ngSwitchCase="false">
    <!-- pas at home page -->
    <!-- NAVBAR -->
    <nav class="navbar navbar-hover navbar-expand-lg navbar-soft">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../../../content/assets/images/logo-blue-stiky.png" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav99">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav99">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown"> Acheter </a>
              <ul class="dropdown-menu dropdown-menu-left animate fade-up">
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'terrain')"> Terrain </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'maison')"> Maison </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'appartement')"> Appartement </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'bureau')"> Bureau </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'commerce')"> Local de commerce </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'verger')"> Verger </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('vendre', 'hangar')"> Hangar </a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Louer </a>
              <ul class="dropdown-menu animate fade-up">
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'terrain')"> Terrain </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'maison')"> Maison </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'chambre')"> Chambre </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'appartement')"> Appartement </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'bureau')"> Bureau </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'commerce')"> Local de commerce </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'verger')"> Verger </a></li>
                <li><a class="dropdown-item" href="javascript:void(0);" (click)="allerA('louer', 'hangar')"> Hangar </a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0);" (click)="recherche()"> Rechercher </a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0);" (click)="estimer()"> Estimer votre projet </a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0);" (click)="apropos()"> A propos </a></li>
          </ul>

          <!-- Search bar.// -->
          <ul class="navbar-nav">
            <li>
              <a (click)="contact()" style="color: #fff" class="btn btn-primary text-capitalize">
                <i class="fa fa-envelope mr-1"></i> Contact</a
              >
            </li>
          </ul>
          <!-- Search content bar.// -->
          <div class="top-search navigation-shadow">
            <div class="container">
              <div class="input-group">
                <form action="#">
                  <div class="row no-gutters mt-3">
                    <div class="col">
                      <input
                        class="form-control border-secondary border-right-0 rounded-0"
                        type="search"
                        value=""
                        placeholder="Search "
                        id="example-search-input4"
                      />
                    </div>
                    <div class="col-auto">
                      <a class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" href="/search-result.html">
                        <i class="fa fa-search"></i>
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Search content bar.// -->
        </div>
        <!-- navbar-collapse.// -->
      </div>
    </nav>
    <!-- END NAVBAR -->
  </div>
</div>
