<div class="bg-theme-overlay">
  <section class="section__breadcrumb">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="text-capitalize text-white">à PROPOS</h2>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- END BREADCRUMB -->

<div class="clearfix"></div>

<!-- ABOUT -->
<section class="home__about bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="single__blog-detail" style="text-align: justify">
          <p class="drop-cap">
            Notre histoire, c'est l'histoire de 3 jeunes sénégalais lambda, née du contraste entre le rêve ardent et noble d'acquérir pour
            lui et sa famille un chez-soi (terrain, maison, appartement.) et la frustration de constater tous les obstacles, le chemin
            parsemé d'embûches pour réaliser ce vœu si cher : litiges fonciers, intermédiaires et courtiers véreux, sites internet peu
            fiables et non intuitifs… La plate-forme Buntu est donc créée pour résoudre ce problème. Avec une technologie de pointe alliant
            Intelligence Artificielle et Technique de Géolocalisation (GIS, Google Maps), elle vous permettra de naviguer aisément,
            intuitivement sur la plateforme, et accéder à toutes les informations relatives à un bien en un clic Buntu c’est aussi un
            accompagnement et suivi personnalisé pour votre projet d’achat ou de construction de maisons : de la recherche de financement
            avec des modalités de paiement mensuel très souples, à la construction clé en main de votre « chez-soi » en passant par les
            démarches administratives et plans architecturaux. Plus important, Buntu est plus qu’une simple plateforme digitale immobilière,
            elle est une histoire de CONFIANCE entre vous et nous. L’intégrité et la transparence étant la clé de voûte de notre business
            model, vous pouvez avoir la certitude qu’avec Buntu votre investissement est sécurisé. Lire notre
            <a href="javascript:void(0)" (click)="engagement()"><b> « engagement solennel »</b></a> pour en savoir plus
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about__image">
          <div class="about__image-top">
            <div class="about__image-top-hover">
              <img src="../../content/assets/images/BUNTU_1920x1080.jpg" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="about__image-bottom">
            <div class="about__image-bottom-hover">
              <img src="../../content/assets/images/BUNTU 1920x1080.jpg" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END ABOUT -->

<!-- NOS PARTENAIRES -->
<section class="projects__partner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="title__head">
          <h2 class="text-center text-capitalize">Nos Partenaires</h2>
          <p class="text-center text-capitalize">
            (text à modifier ) pour assurer la sécurité de nos clients nous sommes en collaboration avec ...
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="projects__partner-logo">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <img src="../../content/assets/images/partner-logo6.png" alt="" class="img-fluid" />
            </li>
            <li class="list-inline-item">
              <img src="../../content/assets/images/partner-logo7.png" alt="" class="img-fluid" />
            </li>
            <li class="list-inline-item">
              <img src="../../content/assets/images/partner-logo8.png" alt="" class="img-fluid" />
            </li>
            <li class="list-inline-item">
              <img src="../../content/assets/images/partner-logo1.png" alt="" class="img-fluid" />
            </li>
            <li class="list-inline-item">
              <img src="../../content/assets/images/partner-logo5.png" alt="" class="img-fluid" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END NOS PARTENAIRES -->

<!-- OUR TEAM -->
<section class="bg-light" style="display: none">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="title__head">
          <h2 class="text-center text-capitalize">our Team</h2>
          <p class="text-center text-capitalize">see our top of the month teams</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="wrap-agent">
          <div class="team-member">
            <div class="team-img">
              <img alt="team member" class="img-fluid w-100" src="../../content/assets/images/360x300.jpg" />
            </div>
            <div class="team-hover">
              <div class="desk">
                <h5>Hi There !</h5>
                <p>I am Senior Agent Property</p>
                <a class="btn btn-primary" href="#"> Agent Profile </a>
              </div>
              <ul class="list-inline s-link mb-0">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-google-plus"> </i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team-title">
              <h6>Martin Smith</h6>
              <span> Agent Real Estate </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wrap-agent">
          <div class="team-member">
            <div class="team-img">
              <img alt="team member" class="img-fluid w-100" src="../../content/assets/images/360x300.jpg" />
            </div>
            <div class="team-hover">
              <div class="desk">
                <h5>Hi There !</h5>
                <p>I am Senior Agent Property</p>
                <a class="btn btn-primary" href="#"> Agent Profile </a>
              </div>
              <ul class="list-inline s-link mb-0">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-google-plus"> </i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team-title">
              <h5>Martin Smith</h5>
              <span> Agent Real Estate </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wrap-agent">
          <div class="team-member">
            <div class="team-img">
              <img alt="team member" class="img-fluid w-100" src="../../content/assets/images/360x300.jpg" />
            </div>
            <div class="team-hover">
              <div class="desk">
                <h5>Hi There !</h5>
                <p>I am Senior Agent Property</p>
                <a class="btn btn-primary" href="#"> Agent Profile </a>
              </div>
              <ul class="list-inline s-link mb-0">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-google-plus"> </i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="team-title">
              <h5>Martin Smith</h5>
              <span> Agent Real Estate </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END TEAM -->

<!-- Footer  -->
<footer>
  <div class="wrapper__footer bg-theme-footer">
    <div class="container">
      <div class="row">
        <!-- ADDRESS -->
        <div class="col-md-4">
          <div class="widget__footer">
            <figure>
              <img src="../../../content/assets/images/logo-blue.png" alt="" class="logo-footer" />
            </figure>
            <p>
              Notre histoire, c'est l'histoire de 3 jeunes sénégalais lambda, née du contraste entre le rêve ardent et noble d'acquérir pour
              lui et sa famille un chez-soi (terrain, maison, appartement.) et la frustration de constater tous les obstacles, le chemin
              parsemé d'embûches pour réaliser ce vœu si cher : litiges fonciers, intermédiaires et courtiers véreux, sites internet peu
              fiables et non intuitifs…
            </p>

            <ul class="list-unstyled mb-0 mt-3">
              <li>
                <b> <i class="fa fa-map-marker"></i></b
                ><span> Commune de Sébikhotane, Arrondissement de Diamniadio, Région de Dakar, Sénégal </span>
              </li>
              <li>
                <b><i class="fa fa-phone-square"></i></b><span>(123) 345-6789</span>
              </li>
              <li>
                <b><i class="fa fa-phone-square"></i></b><span>(+100) 123 456 7890</span>
              </li>
              <li>
                <b><i class="fa fa-headphones"></i></b><span>support@buntu.sn</span>
              </li>
              <li>
                <b><i class="fa fa-clock-o"></i></b><span>Lun - Sam / 9:00 - 17:00</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- END ADDRESS -->

        <!-- QUICK LINKS -->
        <div class="col-md-4">
          <div class="widget__footer">
            <h4 class="footer-title">Accès rapides</h4>
            <div class="link__category-two-column">
              <ul class="list-unstyled">
                <li class="list-inline-item">
                  <a href="javascript:void(0);" (click)="allerA('terrain')">Terrains diponibles</a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0);" (click)="allerA('maison')">Maisons diponibles</a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0);" (click)="allerA('chambre')">Chambres diponibles</a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0);" (click)="allerA('appartement')">Appartements diponibles</a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0);" (click)="allerA('bureau')">Bureaux diponibles</a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0);" (click)="allerA('commerce')">Locaux de commerce diponibles</a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0);" (click)="allerA('verger')">Vergers diponibles</a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0);" (click)="allerA('hangar')">Hangars diponibles</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- END QUICK LINKS -->

        <!-- NEWSLETTERS -->
        <div class="col-md-4">
          <div class="widget__footer">
            <h4 class="footer-title">Suivez-nous</h4>
            <p class="mb-2">Suivez-nous et restez en contact pour recevoir les dernières nouvelles</p>
            <p>
              <button class="btn btn-social btn-social-o facebook mr-1">
                <i class="fa fa-facebook-f"></i>
              </button>
              <button class="btn btn-social btn-social-o twitter mr-1">
                <i class="fa fa-twitter"></i>
              </button>

              <button class="btn btn-social btn-social-o linkedin mr-1">
                <i class="fa fa-linkedin"></i>
              </button>
              <button class="btn btn-social btn-social-o instagram mr-1">
                <i class="fa fa-instagram"></i>
              </button>

              <button class="btn btn-social btn-social-o youtube mr-1">
                <i class="fa fa-youtube"></i>
              </button>
            </p>
            <br />
            <h4 class="footer-title">newsletter</h4>
            <!-- Form Newsletter -->
            <div class="widget__form-newsletter">
              <p>Ne manquez pas de vous abonner à nos flux d'actualités, veuillez remplir le formulaire ci-dessous</p>
              <div class="mt-3">
                <form [formGroup]="newslettersFormGroup">
                  <input [(ngModel)]="email" formControlName="email" type="text" class="form-control mb-2" placeholder="Adresse mail" />
                  <div *ngIf="alerter" class="alert alert-success" role="alert">votre requête est bien enregistrée avec succès</div>
                  <div
                    *ngIf="newslettersFormGroup.get('email')?.touched && newslettersFormGroup.get('email')?.hasError('required')"
                    class="alert alert-danger"
                    role="alert"
                  >
                    l'email est obligatoire
                  </div>
                  <div
                    *ngIf="newslettersFormGroup.get('email')?.touched && newslettersFormGroup.get('email')?.hasError('email')"
                    class="alert alert-danger"
                    role="alert"
                  >
                    l'email invalide
                  </div>

                  <button
                    [disabled]="!newslettersFormGroup.valid"
                    (click)="newLetters()"
                    class="btn btn-primary btn-block text-capitalize"
                    type="button"
                  >
                    S'incrire
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- END NEWSLETTER -->
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="bg__footer-bottom-v1">
    <div class="container">
      <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6">
          <span>
            © 2022 BUNTU real estate by
            <a href="https://www.tech-xel.com/" target="_blank">tech xel</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer  -->
